
.bio {
  display: flex;
  overflow: hidden;
  position: relative;
  margin-top: 0px;
  width: 100%;
  height: 100%;
}

.bio-left-col {
  background-color: #f0544f; /*#f0544f;*/
  width: 300px;
  position: absolute;
  padding: 0;
  left: 0;
  top: 0;
  text-align: right;
  padding-bottom: 100%;
  margin-bottom: -100%;
  z-index: -1;
}

.bio-right-col {
  width: calc(100% - 500px);
  left: 400px;
  right: 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow-y: scroll;
}

.bio-content {
  position: relative;
  background-color: white;
  max-width: 800px;
  margin-top: 30px;
  margin-left: 1%; /*220px*/
  margin-right:10px;
}

.bio-content p {
  font-family: 'Quattrocento', serif;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.52px;
  color: #3c3c3c;
  margin-bottom: 35px;
  text-align: justify;
}

.bio-content p a {
  text-decoration: underline;
  color: #08474e;
}

.bio-header {
  margin-top: 180px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 110px;
  letter-spacing: 7px;
  color: white;
  margin-bottom: 20px;
  position: relative;
}

/*////////FOOTER///////////*/

.bio-footer-container {
  position: relative;
  width: 850px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 18px;
  margin-top: 55px;
  margin-bottom: 70px;
}

.bio-footer-container a {
  display: inline-block;
  text-decoration: none;
  color: #f0544f;
  font-size: 18px;
  letter-spacing: 0.5px;
  vertical-align: top;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 55px;
}

@media screen and (max-width: 499px) {
  .bio {
    display: block;
    overflow-y: scroll;
  }
  .bio-left-col {
    display: block;
    position: absolute;
    height: 250px;
    padding: 0;
    right: 0;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: -1;
  }
  .bio-right-col {
    display: block;
    left:0;
    margin: 250px 0 0;
    padding: 0 20px;
    width: 90%;
  }
  .bio-content {
    max-width: 93%;
    margin: 0;
  }
  .bio-content p {
    font-size: 20px;
  }

  .bio-header {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    top: 25%;
  }
  .bio-footer-container {
    width: 90%;
  }
  .bio-footer-container a {
    margin-left: 0;
    font-size: 20px;
  }
}
