/*//////////////////////////////GENERAL//////////////////////////////*/
.home {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url('../components/home/images/back.jpg');
  background-size: cover;
}
.vert{
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: .9;
}

.lead {
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 200;
    line-height: 1.4;
}
p{
  margin: 0 0 10px;

}
img{
  vertical-align: middle;
}

.dp {
  height: 240px;
  width: 240px;
  margin-top: -60px;
  border-radius: 100%;
  border: 3px solid #fff;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li{
  display: inline;
}

.fab {
  display: inline-block;
  margin: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0.6;
  color: whitesmoke;
}

.fas {
  display: inline-block;
  margin: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0.6;
  color: whitesmoke;

}

.fas .fa-envelope-square {
  color: whitesmoke;

}