h1{
  padding:3px;
}

.projects-header{
  font-size: 48px;
  text-align: justify;
  margin: auto;
  padding: 5px;
  text-decoration: underline;
  margin-bottom: 20px;
}
.project-list{
  margin-left: 2%;
  margin-right: 2%;
  padding: 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.project-body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.projectcards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin: auto;
}
.projectcard{
  display: flex;
  flex-direction: column;
  background-color: mintcream;
  border: 2px solid black;
  width: 20vw;
  padding: 2px;
  margin-bottom: 15px;
  border-radius: 12%;
  margin:10px;
  max-width: 30%;
  max-height: 30%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 12%;
  justify-content: space-between;
  align-items: center;
}

/* .project-content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;

} */
.div-button{
  margin-top: auto;

}
.projectcard:hover{
 box-shadow: 0 4px 5px rgba(0,0,0,0.8);
}

.button{
  size: 10px;
  margin: 3px; 
  border-radius:0.5em;
  box-sizing: border-box;
  text-decoration:none;
  transition: all 0.4s ease 0s;
  align-items: flex-end;
}

.button:hover{
  transition: all 0.4s ease 0s
}

.fa-plus{
  color: black;
}
@media screen and (max-width: 600px){ 
    .projectcards{
      flex-direction: column;
      object-fit: contain;
      max-width: 100%;
    }
    .projectcard{
      max-width: 100%;

    }
}
