.sidebar-menu {
  font-size: 24px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.menu{
  margin-left: auto;
  padding: 20px;
  position: fixed;
  margin-top: 40%;
  height: 100%;
  transform: translate(-30%, -50%);
  color: white;
}

.sidebar-menu-item{
  display: flex;
  flex-direction: row;
  color: white;
}

.sidebar-menu-item:hover{
  color: #2F4858;
}
.menu-label{
  color: white;

}